<mat-toolbar color="primary" *ngIf="session">
  <img alt="Home" title="Home" src="/assets/angular.svg" class="toolbar-logo">
  <span class="toolbar-title">Angular App</span>
  <button mat-button routerLink="/home" routerLinkActive="toolbar-active">Home</button>
  <button mat-button routerLink="/products" routerLinkActive="toolbar-active">Products</button>
  <button mat-button routerLink="/settings" routerLinkActive="toolbar-active">Settings</button>
  <span class="toolbar-spacer"></span>
  <mat-icon class="toolbar-user-icon" matTooltip="logged in as '{{session.username}}'">account_circle</mat-icon>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>