<mat-card>
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container cdkColumnDef="index">
        <mat-header-cell *cdkHeaderCellDef>#</mat-header-cell>
        <mat-cell *cdkCellDef="let row"><small>{{row.index | number : '2.0-0'}}</small></mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header disableClear="true">Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.product.name}}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="createdAt">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header disableClear="true">Created At</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.product.createdAt | date:'short'}}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="price">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header disableClear="true">Price</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.product.price | currency}}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="actions">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let row" class="text-right">
          <button mat-icon-button [routerLink]="['/products', row.product._id]" matTooltip="Open product" matTooltipPosition="above"><mat-icon>pageview</mat-icon></button>
          <button mat-icon-button (click)="editProduct(row.product)" matTooltip="Edit product" matTooltipPosition="above"><mat-icon>create</mat-icon></button>
          <button mat-icon-button (click)="deleteProduct(row.product)" matTooltip="Delete product" matTooltipPosition="above"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="dataSource.productCount" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    <button *ngIf="session.isAdmin()" mat-raised-button color="primary" (click)="addProduct()"><mat-icon>add</mat-icon> Add Product</button>
  </mat-card-content>
</mat-card>