<div fxLayout="row" fxFlex fxLayoutWrap="wrap">
  <div class="message" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxLayout="column">
    <md-card fxFlex>
      <md-card-title>{{msg}}</md-card-title>
      <md-card-content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit amet.
      </md-card-content>
    </md-card>
  </div>
  <div class="message" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxLayout="column">
    <md-card fxFlex>
      <md-card-title>{{msg}}</md-card-title>
      <md-card-content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </md-card-content>
    </md-card>
  </div>
  <div class="message" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxLayout="column">
    <md-card fxFlex>
      <md-card-title>{{msg}}</md-card-title>
      <md-card-content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </md-card-content>
    </md-card>
  </div>
  <div class="message" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxLayout="column">
    <md-card fxFlex>
      <md-card-title>{{msg}}</md-card-title>
      <md-card-content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua.
      </md-card-content>
    </md-card>
  </div>
</div>